<a href="https://colab.research.google.com/github/AugustoNicoletti/projetoteste/blob/master/AULA_2_Analise_de_Dados_com_Pandas_LINGUAGEM_DE_PROGRAMA%C3%87AO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# AULA PRATICA DE ANALISE DE DADOS COM PANDAS


---

### IMPORTANDO BIBLIOTECAS

In [70]:
import pandas as pd
from google.colab import drive
from pandas_profiling import ProfileReport

#*IMPORTAÇAO DIRETA*#
#import pandas as pd
#from google.colab import files

### IMPORTANDO O ARQUIVO

In [71]:
drive.mount("/content/drive")
df = pd.read_csv("/content/drive/MyDrive/AULA PROGRAMAÇAO/ca-2021-01.csv", sep=';', encoding='ISO-8859-1')

#*IMPORTAÇAO DIRETA*#
#drive.mount("/content/drive")
#df = files.upload()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### DataFrame - Preço dos combustiveis no Brasil em 2021

In [72]:
df.head()

,ï»¿Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,S,RS,SAO LEOPOLDO,POSTOS DE COMBUSTIVEIS REDESINOS LTDA,01.731.418/0001-31,AVENIDA FEITORIA,4288,NaN,FEITORIA,93048-000,GASOLINA,01/01/2021,"4,599",NaN,R$ / litro,BRANCA
1,S,RS,SAO LEOPOLDO,POSTOS DE COMBUSTIVEIS REDESINOS LTDA,01.731.418/0001-31,AVENIDA FEITORIA,4288,NaN,FEITORIA,93048-000,ETANOL,01/01/2021,"4,199",NaN,R$ / litro,BRANCA
2,S,RS,SAO LEOPOLDO,POSTOS DE COMBUSTIVEIS REDESINOS LTDA,01.731.418/0001-31,AVENIDA FEITORIA,4288,NaN,FEITORIA,93048-000,GASOLINA ADITIVADA,01/01/2021,"4,799",NaN,R$ / litro,BRANCA
3,S,RS,SAO LEOPOLDO,POSTOS DE COMBUSTIVEIS REDESINOS LTDA,01.731.418/0001-31,AVENIDA FEITORIA,4288,NaN,FEITORIA,93048-000,DIESEL,01/01/2021,"3,499",NaN,R$ / litro,BRANCA
4,S,RS,SAO LEOPOLDO,POSTOS DE COMBUSTIVEIS REDESINOS LTDA,01.731.418/0001-31,AVENIDA FEITORIA,4288,NaN,FEITORIA,93048-000,DIESEL S10,01/01/2021,"3,599",NaN,R$ / litro,BRANCA

In [73]:
df.columns.values

array(['ï»¿Regiao - Sigla', 'Estado - Sigla', 'Municipio', 'Revenda',
       'CNPJ da Revenda', 'Nome da Rua', 'Numero Rua', 'Complemento',
       'Bairro', 'Cep', 'Produto', 'Data da Coleta', 'Valor de Venda',
       'Valor de Compra', 'Unidade de Medida', 'Bandeira'], dtype=object)

In [74]:
dfcolunas = ['Estado - Sigla', 'Municipio', 'Revenda',
             'Produto', 'Data da Coleta', 'Valor de Venda']

In [75]:
dfFiltrado = df.filter(items=dfcolunas)
dfFiltrado = dfFiltrado.rename(columns={"Estado - Sigla":"Estado"})

In [76]:
dfFiltrado

,Estado,Municipio,Revenda,Produto,Data da Coleta,Valor de Venda
0,RS,SAO LEOPOLDO,POSTOS DE COMBUSTIVEIS REDESINOS LTDA,GASOLINA,01/01/2021,"4,599"
1,RS,SAO LEOPOLDO,POSTOS DE COMBUSTIVEIS REDESINOS LTDA,ETANOL,01/01/2021,"4,199"
2,RS,SAO LEOPOLDO,POSTOS DE COMBUSTIVEIS REDESINOS LTDA,GASOLINA ADITIVADA,01/01/2021,"4,799"
3,RS,SAO LEOPOLDO,POSTOS DE COMBUSTIVEIS REDESINOS LTDA,DIESEL,01/01/2021,"3,499"
4,RS,SAO LEOPOLDO,POSTOS DE COMBUSTIVEIS REDESINOS LTDA,DIESEL S10,01/01/2021,"3,599"
...,...,...,...,...,...,...
334676,ES,ARACRUZ,POSTO DE COMBUSTIVEL SHOW EIRELI,GASOLINA,28/06/2021,"5,67"
334677,ES,ARACRUZ,POSTO DE COMBUSTIVEL SHOW EIRELI,ETANOL,28/06/2021,"4,79"
334678,ES,ARACRUZ,POSTO DE COMBUSTIVEL SHOW EIRELI,DIESEL,28/06/2021,"4,19"
334679,ES,ARACRUZ,POSTO DE COMBUSTIVEL SHOW EIRELI,GASOLINA ADITIVADA,28/06/2021,"5,67"
334680,ES,ARACRUZ,POSTO DE COMBUSTIVEL SHOW EIRELI,DIESEL S10,28/06/2021,"4,24"

### QUANTIDADE DE ENTRADAS POR ESTADO

In [77]:
colunaEstados = dfFiltrado["Estado"]
colunaEstados = colunaEstados.value_counts()
colunaEstados

SP    111520
RJ     25186
MG     23190
PR     20147
RS     19334
BA     15964
SC     14449
CE     14377
MT     10728
PE      9757
GO      8021
ES      6974
MA      5429
AM      5332
MS      5148
DF      4964
PI      4233
RN      4111
PA      4007
AL      3950
PB      3759
AC      3422
RO      3375
SE      3221
TO      1946
RR      1158
AP       979
Name: Estado, dtype: int64

### PERCENTUAL POR ESTADO

In [78]:
pEstados = [100*sigla/colunaEstados.sum() for sigla in colunaEstados]
pEstados

[33.32128205664498,
 7.525374909241934,
 6.928986109160664,
 6.019762101822332,
 5.776844218823298,
 4.769915232714137,
 4.3172453769410275,
 4.295732354092404,
 3.2054404044448295,
 2.9153133879724273,
 2.396610503733406,
 2.0837752964763463,
 1.6221416811829772,
 1.5931588587341379,
 1.5381811336765456,
 1.4832034086189536,
 1.2647864683086283,
 1.2283338462595725,
 1.1972594799226726,
 1.1802283368341795,
 1.1231590678885266,
 1.0224661692776107,
 1.008422946029204,
 0.9624089804918714,
 0.5814492008808387,
 0.34600111748202017,
 0.2925173523444713]

### FILTRANDO SOMENTE GASOLINA

In [79]:
dfcolunas = ['Estado','Produto','Valor de Venda']
dfGasolina = dfFiltrado.filter(items=dfcolunas)
dfGasolina = dfGasolina.loc[dfGasolina["Produto"] == "GASOLINA"]
dfGasolina

       Estado   Produto Valor de Venda
0          RS  GASOLINA          4,599
5          RS  GASOLINA          4,459
9          RS  GASOLINA          4,539
12         RS  GASOLINA          4,599
15         RS  GASOLINA          4,599
...       ...       ...            ...
334661     AL  GASOLINA          5,899
334663     RN  GASOLINA           5,98
334672     SC  GASOLINA          5,459
334673     PE  GASOLINA           5,59
334676     ES  GASOLINA           5,67

[85260 rows x 3 columns]

### AGRUPANDO PREÇO GASOLINA POR ESTADO

In [80]:
dfGasolina['Valor de Venda'] = dfGasolina['Valor de Venda'].str.replace(',','.')
dfGasolina = dfGasolina.astype({"Valor de Venda":"float32"})
dfGasolina = dfGasolina.groupby('Estado').mean()
dfGasolina = dfGasolina.sort_values(by="Valor de Venda", ascending=False)
dfGasolina

<ipython-input-80-ad421bb39b56>:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dfGasolina = dfGasolina.groupby('Estado').mean()

        Valor de Venda
Estado
AC            6.074777
RJ            5.886587
TO            5.684361
GO            5.660654
MG            5.658685
RN            5.604649
PI            5.574922
PA            5.543767
RS            5.531554
BA            5.505574
AL            5.487395
RO            5.479875
ES            5.446682
DF            5.442646
MS            5.422315
CE            5.400451
MT            5.371931
SE            5.366111
PE            5.304948
AM            5.166393
PB            5.156121
SC            5.154913
PR            5.151673
MA            5.129764
SP            5.119747
RR            5.081727
AP            4.609195

### DOIS TIPOS DE GASOLINA - REGEX

In [81]:
dfcolunas = ['Estado','Produto','Valor de Venda']
dfGasolina2 = dfFiltrado.filter(items=dfcolunas)
regex = 'GASOLINA'
dfGasolina2 = dfGasolina2.loc[dfGasolina2["Produto"].str.contains(regex, regex = True)]
dfGasolina2

       Estado             Produto Valor de Venda
0          RS            GASOLINA          4,599
2          RS  GASOLINA ADITIVADA          4,799
5          RS            GASOLINA          4,459
7          RS  GASOLINA ADITIVADA          4,499
9          RS            GASOLINA          4,539
...       ...                 ...            ...
334671     SC  GASOLINA ADITIVADA          5,559
334672     SC            GASOLINA          5,459
334673     PE            GASOLINA           5,59
334676     ES            GASOLINA           5,67
334679     ES  GASOLINA ADITIVADA           5,67

[148450 rows x 3 columns]

### AGRUPANDO POR TIPO DE GASOLINA NO BRASIL INTEIRO

In [82]:
dfGasolina2['Valor de Venda'] = dfGasolina2['Valor de Venda'].str.replace(',','.')
dfGasolina2 = dfGasolina2.astype({"Valor de Venda":"float32"})
dfGasolina2 = dfGasolina2.groupby('Produto').mean()
dfGasolina2

<ipython-input-82-bca93eb15c49>:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dfGasolina2 = dfGasolina2.groupby('Produto').mean()

                    Valor de Venda
Produto
GASOLINA                  5.346718
GASOLINA ADITIVADA        5.495662

### PANDAS PROFILING

In [86]:
!pip install https://github.com/ydataai/pandas-profiling/archive/master.zip

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting https://github.com/ydataai/pandas-profiling/archive/master.zip
  Using cached https://github.com/ydataai/pandas-profiling/archive/master.zip
  Preparing metadata (setup.py) ... done
Requirement already satisfied: scipy<1.11,>=1.4.1 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling==0.0.dev0) (1.10.1)
Requirement already satisfied: pandas!=1.4.0,<2.1,>1.1 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling==0.0.dev0) (1.5.3)
Requirement already satisfied: matplotlib<4,>=3.2 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling==0.0.dev0) (3.7.1)
Requirement already satisfied: pydantic<2,>=1.8.1 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling==0.0.dev0) (1.10.9)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling==0.0.dev0) (6.0)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling==0.0.dev0) (3.1.2)
Requirement already satisfied: visions[type_image_path]==0.7.5 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling==0.0.dev0) (0.7.5)
Requirement already satisfied: numpy<1.24,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling==0.0.dev0) (1.22.4)
Requirement already satisfied: htmlmin==0.1.12 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling==0.0.dev0) (0.1.12)
Requirement already satisfied: phik<0.13,>=0.11.1 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling==0.0.dev0) (0.12.3)
Requirement already satisfied: requests<3,>=2.24.0 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling==0.0.dev0) (2.27.1)
Requirement already satisfied: tqdm<5,>=4.48.2 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling==0.0.dev0) (4.65.0)
Requirement already satisfied: seaborn<0.13,>=0.10.1 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling==0.0.dev0) (0.12.2)
Requirement already satisfied: multimethod<2,>=1.4 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling==0.0.dev0) (1.9.1)
Requirement already satisfied: statsmodels<1,>=0.13.2 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling==0.0.dev0) (0.13.5)
Requirement already satisfied: typeguard<3,>=2.13.2 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling==0.0.dev0) (2.13.3)
Requirement already satisfied: imagehash==4.3.1 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling==0.0.dev0) (4.3.1)
Requirement already satisfied: wordcloud>=1.9.1 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling==0.0.dev0) (1.9.2)
Requirement already satisfied: dacite>=1.8 in /usr/local/lib/python3.10/dist-packages (from ydata-profiling==0.0.dev0) (1.8.1)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.10/dist-packages (from imagehash==4.3.1->ydata-profiling==0.0.dev0) (1.4.1)
Requirement already satisfied: pillow in /usr/local/lib/python3.10/dist-packages (from imagehash==4.3.1->ydata-profiling==0.0.dev0) (8.4.0)
Requirement already satisfied: attrs>=19.3.0 in /usr/local/lib/python3.10/dist-packages (from visions[type_image_path]==0.7.5->ydata-profiling==0.0.dev0) (23.1.0)
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.10/dist-packages (from visions[type_image_path]==0.7.5->ydata-profiling==0.0.dev0) (3.1)
Requirement already satisfied: tangled-up-in-unicode>=0.0.4 in /usr/local/lib/python3.10/dist-packages (from visions[type_image_path]==0.7.5->ydata-profiling==0.0.dev0) (0.2.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2<3.2,>=2.11.1->ydata-profiling==0.0.dev0) (2.1.3)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4,>=3.2->ydata-profiling==0.0.dev0) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4,>=3.2->ydata-profiling==0.0.dev0) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4,>=3.2->ydata-profiling==0.0.dev0) (4.40.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4,>=3.2->ydata-profiling==0.0.dev0) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4,>=3.2->ydata-profiling==0.0.dev0) (23.1)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4,>=3.2->ydata-profiling==0.0.dev0) (3.1.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib<4,>=3.2->ydata-profiling==0.0.dev0) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas!=1.4.0,<2.1,>1.1->ydata-profiling==0.0.dev0) (2022.7.1)
Requirement already satisfied: joblib>=0.14.1 in /usr/local/lib/python3.10/dist-packages (from phik<0.13,>=0.11.1->ydata-profiling==0.0.dev0) (1.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from pydantic<2,>=1.8.1->ydata-profiling==0.0.dev0) (4.6.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.24.0->ydata-profiling==0.0.dev0) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.24.0->ydata-profiling==0.0.dev0) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.24.0->ydata-profiling==0.0.dev0) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.24.0->ydata-profiling==0.0.dev0) (3.4)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.10/dist-packages (from statsmodels<1,>=0.13.2->ydata-profiling==0.0.dev0) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5.2->statsmodels<1,>=0.13.2->ydata-profiling==0.0.dev0) (1.16.0)

In [ ]:
profile = ProfileReport(dfFiltrado,)
profile.to_notebook_iframe()
profile.to_file('saida.html')